<H1>Log in</H1>

<%= form_tag sessions_path do %>
<ul>
  <div class="field">
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email] %>
</div>
</ul>
<ul>
  <div class="field">
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>
</ul>
<ul>
  <div class="field">
  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  <%= label_tag :remember_me %>
</div>
</ul>
<ul>
<div class="actions">
  <%= submit_tag "Log in" %>
</div>
</ul>
<% end %>
