
    <section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
    </section>

    <% if @card.nil? %>
      <section>
        <p>There is no card for check</p>
      </section>
    <% else %>
       <section>
      <p style="font-size: 28px;">
      <%= @card.translated_text %>
      </p>
    </section>

<%= form_tag('/check', method: "post") do %>
  <%= label_tag(:q, "Original Text") %><br>
  <%= text_field_tag(:q) %><br>
  <%= hidden_field_tag "card_id", @card.id %>
  <%= hidden_field_tag "user", current_user %>
  <br><p><%= image_tag @card.image.thumb.url if @card.image? %></p>
  <br><%= submit_tag("Check") %>
<% end %>
    <% end %>
 
