
    <section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
    </section>

    <section>
      <p style="font-size: 28px;">
      <%= @card.translated_text %>
      </p>
    </section>


<%= form_tag('/check', method: "post") do %>
  <%= label_tag(:q, "Original Text") %><br>
  <%= text_field_tag(:q) %><br>
  <%= hidden_field_tag "card_id", @card.id %>
  <br><%= submit_tag("Check") %>
<% end %>
 
