<h1>All cards</h1>

<%= link_to "Add New Card", new_card_path %>

<ul>
	<% @cards.each do |card| %>
		<li> <%= card.original_text %></li>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card.id)%></td>
    <td><%= link_to 'Destroy', card,
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</ul>


