<h1>Cards:</h1>

<section>
      <p style="font-size: 28px;">
      <li> <%= current_user.cards.original_text  %></li>
      <li> <%= current_user.cards.translated_text %></li>
      <li> <%= current_user.cards.review_date %></li>
      </p>
</section>

 <%= link_to 'Edit', edit_card_path(@card) %> 
 <%= link_to 'Back', cards_path %>

