<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <section id="container">

    <header class="clearfix">
      <h1>Flashcards</h1>
      <ul class="navigation-links">
        <li><a href="cards">All Cards</a></li>
        <li><a href="cards/new">Add Card</a></li>
      </ul>
    </header>

    <div class="user_nav">
      <% if current_user %>
        Logged in as <%= current_user.email %>
        <% link_to "Log out", logout_path %>
      <% else %>
        <% link_to "Sign up", signup_path %>or
        <% link_to "Log in", login_path %>
      <% end %>
    </div>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

 <%= yield %>

  </section>
</body>
</html>
