<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <section id="container">

    <header class="clearfix">
      <h1>Flashcards</h1>
      <ul class="navigation-links">
        <li><a href="#">All Cards</a></li>
        <li><a href="#">Add Card</a></li>
      </ul>
    </header>

    <% flash.each do |t| -%>
      <%= content_tag :div, t %>
    <% end -%>

 <%= yield %>

  </section>
</body>
</html>
